@font-face {
  font-family: "Manrope";
  src: url("./fonts/manrope-regular.otf");
  font-weight: 400; //normal
}

@font-face {
  font-family: "Manrope";
  src: url("./fonts/manrope-medium.otf");
  font-weight: 500; //medium
}

@font-face {
  font-family: "Manrope";
  src: url("./fonts/manrope-semibold.otf");
  font-weight: 600; //semi-bold
}

@font-face {
  font-family: "Manrope";
  src: url("./fonts/manrope-bold.otf");
  font-weight: 700; //bold
}

@font-face {
  font-family: "Manrope";
  src: url("./fonts/manrope-extrabold.otf");
  font-weight: 800; //extra-bold
}
